@use "./branding.scss" as brand;

.heroBackground{
    background: url('../assets/images/bradley-mubenga-on-laptop.png') center center fixed;
    background-size: cover;
    color: white;
    text-shadow: black 1px 1px 1px;
    padding: 8rem 4rem;

    div{
        h1{
            font-weight: brand.$bold;
        }
    }
}