@use '../scss/branding.scss' as brand;

.footer{
    background-color: brand.$violet;
    
    div{
        ul li {
            list-style-type: none;

            a {
                color: white;
            }

            a:hover{
                color: brand.$purple-haze;
            }
        } 
    }
}