@use "./branding.scss" as brand;

.heroSection{
    margin-top: 5.5em !important;
    height: 80vh;

    div{
        h1{
            font-weight: brand.$bold;
            color: white;
            text-shadow: black 1px 1px 1px;
        }
    }

    video{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 10;
    }

    .heroText{
        z-index: 10;
    }

    .downBtn{
        z-index: 10;
    }
}