@use './branding.scss' as brand;

.heading{
    h1{
        font-weight: brand.$bold;
    }
}

.formStyle{
    *:focus{
        outline: none;
    }
    form{
        input{
            font-family: inherit;
            border: 5px brand.$violet solid;
        }

        input:focus{
            border-radius: unset;
        }

        select{
            border: 5px brand.$violet solid;
            background-color: brand.$purple-haze;
        }
    }
}

.contactMethods{
    ul{
        li{
            list-style-type: none;

            a{
                color: black;
            }

            a:hover{
                color: brand.$ebony;
            }
        }
    }
}