//Branding Styles
@use "./branding.scss" as brand;

//Navbar
.navbarLinks{
    li{
        a{
            color: black;
            font-weight: brand.$extra-bold;
        }
    }
}

.activeLink{
    //***Add the stripe line under the navLink. This will automatically work if you use React NavLink instead of <a />
    border-bottom: brand.$violet 0.25em solid;
    margin-bottom: 0.25em;
}